.navbar {
    background: rgba(12, 18, 43, .7);
    backdrop-filter: saturate(140%) blur(8px);
    
}
.navbar-brand{
    color: var(--text) !important;
    font-weight: 700 !important;
}


.navbar .nav-link {
    color: var(--text)
}

.navbar .nav-link.active,
.navbar .nav-link:hover {
    color: var(--accent)
}
.navbar-toggler{
    background: var(--text);
}