:root {
  --bg: #0b132b;
    --muted: #1c2541;
    --accent: #5bc0be;
    --text: #dde3ea;
    --soft: #3a506b;
    --light: #345b63;
}
[data-theme="light"] {
  --bg: #c9cdda;
  --muted: #767575;
  --accent: #0ca19f;
  --text: #0b0c0c;
  --soft: #1c314a;
  --light: #010f0f;
}
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: var(--text) !important;
  background-color: var(--bg) !important;
}
body.body-light {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: var(--bg) !important;
  background-color: var(--text) !important;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
